<Server port="{{server_port}}" shutdown="SHUTDOWN">

    <Service name="Catalina">
        <Connector port="{{ connector_port }}"/>

        <!-- This is the optional AJP connector -->
        <Connector port="{{ ajp_port }}" protocol="AJP/1.3"/>

        <Engine name="Catalina" defaultHost="{{ ansible_eth0['ipv4']['address'] }}">
            <Host name="{{ ansible_eth0['ipv4']['address'] }}" appBase="{{ appBase }}"/>
        </Engine>
    </Service>
</Server>